**/src/main/resources/static/js/* linguist-vendored

node_modules/* linguist-vendored
dist/* linguist-vendored
build/* linguist-vendored
*.min.js linguist-vendored
*.bundle.js linguist-vendored

*.json linguist-vendored

*.java linguist-detectable=true
